In [69]:
import numpy as np
import pandas as pd

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline , make_pipeline
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import LinearRegression

In [70]:
df = pd.read_csv('train.csv')
df

,id,store_sales(in millions),unit_sales(in millions),total_children,num_children_at_home,avg_cars_at home(approx).1,gross_weight,recyclable_package,low_fat,units_per_case,store_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,cost
0,0,8.61,3.0,2.0,2.0,2.0,10.30,1.0,0.0,32.0,36509.0,0.0,0.0,0.0,0.0,0.0,62.09
1,1,5.00,2.0,4.0,0.0,3.0,6.66,1.0,0.0,1.0,28206.0,1.0,0.0,0.0,0.0,0.0,121.80
2,2,14.08,4.0,0.0,0.0,3.0,21.30,1.0,0.0,26.0,21215.0,1.0,0.0,0.0,0.0,0.0,83.51
3,3,4.02,3.0,5.0,0.0,0.0,14.80,0.0,1.0,36.0,21215.0,1.0,0.0,0.0,0.0,0.0,66.78
4,4,2.13,3.0,5.0,0.0,3.0,17.00,1.0,1.0,20.0,27694.0,1.0,1.0,1.0,1.0,1.0,111.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360331,360331,7.60,4.0,5.0,5.0,3.0,13.50,1.0,0.0,33.0,30268.0,0.0,0.0,0.0,0.0,0.0,133.42
360332,360332,14.44,4.0,4.0,0.0,4.0,18.80,1.0,1.0,18.0,20319.0,0.0,0.0,0.0,0.0,0.0,81.85
360333,360333,10.74,3.0,0.0,0.0,2.0,11.30,1.0,0.0,35.0,30584.0,1.0,1.0,1.0,1.0,1.0,87.07
360334,360334,11.04,3.0,1.0,0.0,3.0,10.20,0.0,1.0,14.0,30584.0,1.0,1.0,1.0,1.0,1.0,146.72
360335,360335,5.30,2.0,2.0,0.0,2.0,10.80,0.0,0.0,21.0,33858.0,1.0,0.0,1.0,1.0,1.0,122.47

In [46]:
df.isnull().sum()

id                            0
store_sales(in millions)      0
unit_sales(in millions)       0
total_children                0
num_children_at_home          0
avg_cars_at home(approx).1    0
gross_weight                  0
recyclable_package            0
low_fat                       0
units_per_case                0
store_sqft                    0
coffee_bar                    0
video_store                   0
salad_bar                     0
prepared_food                 0
florist                       0
cost                          0
dtype: int64

In [47]:
df.drop(columns = ['id'], inplace = True)

In [48]:
X_train, X_test, Y_train, Y_test = train_test_split(df.drop(columns = ['cost']), df['cost'], random_state = 0)
X_train

,store_sales(in millions),unit_sales(in millions),total_children,num_children_at_home,avg_cars_at home(approx).1,gross_weight,recyclable_package,low_fat,units_per_case,store_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist
270605,6.99,3.0,0.0,0.0,3.0,20.50,0.0,0.0,25.0,23598.0,0.0,0.0,0.0,0.0,1.0
151583,3.40,2.0,4.0,4.0,2.0,6.09,1.0,0.0,14.0,30268.0,0.0,0.0,0.0,0.0,0.0
45045,7.65,3.0,3.0,0.0,1.0,17.20,0.0,1.0,15.0,23759.0,1.0,0.0,1.0,1.0,1.0
47897,6.80,4.0,0.0,0.0,2.0,12.70,1.0,0.0,3.0,23598.0,0.0,0.0,0.0,0.0,1.0
50155,5.61,3.0,1.0,0.0,1.0,21.70,0.0,0.0,25.0,30584.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359783,3.69,3.0,1.0,0.0,1.0,7.98,1.0,0.0,25.0,30584.0,1.0,1.0,1.0,1.0,1.0
358083,4.90,2.0,4.0,3.0,3.0,15.00,0.0,0.0,8.0,30797.0,1.0,1.0,1.0,1.0,1.0
152315,4.62,3.0,5.0,3.0,1.0,7.55,0.0,0.0,35.0,20319.0,0.0,0.0,0.0,0.0,0.0
117952,1.90,2.0,2.0,0.0,2.0,13.80,1.0,0.0,6.0,23112.0,1.0,1.0,1.0,1.0,1.0
305711,11.52,4.0,4.0,0.0,1.0,19.40,1.0,0.0,15.0,30797.0,1.0,1.0,1.0,1.0,1.0

In [49]:
clf = LinearRegression()
clf.fit(X_train,Y_train)

LinearRegression()

In [59]:
Y_test_pred = clf.predict(X_test)
clf.score(X_test, Y_test_pred)

1.0

In [60]:
test_data = pd.read_csv('test.csv')
test_data

,id,store_sales(in millions),unit_sales(in millions),total_children,num_children_at_home,avg_cars_at home(approx).1,gross_weight,recyclable_package,low_fat,units_per_case,store_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist
0,360336,7.24,4.0,1.0,0.0,2.0,10.80,0.0,1.0,7.0,20319.0,0.0,0.0,0.0,0.0,0.0
1,360337,6.90,2.0,2.0,2.0,3.0,8.51,1.0,0.0,4.0,33858.0,1.0,0.0,1.0,1.0,1.0
2,360338,8.34,3.0,0.0,0.0,3.0,8.77,0.0,1.0,14.0,39696.0,0.0,0.0,1.0,1.0,0.0
3,360339,5.48,2.0,3.0,3.0,2.0,21.90,1.0,0.0,9.0,23688.0,1.0,1.0,1.0,1.0,1.0
4,360340,4.80,3.0,2.0,0.0,2.0,10.90,1.0,0.0,11.0,27694.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240219,600555,8.60,4.0,0.0,0.0,1.0,8.39,0.0,0.0,16.0,38382.0,0.0,0.0,0.0,0.0,0.0
240220,600556,4.30,2.0,2.0,0.0,4.0,7.88,1.0,0.0,4.0,30268.0,0.0,0.0,0.0,0.0,0.0
240221,600557,6.30,3.0,0.0,0.0,3.0,11.50,0.0,0.0,13.0,39696.0,0.0,0.0,1.0,1.0,0.0
240222,600558,7.94,2.0,0.0,0.0,2.0,8.33,1.0,0.0,8.0,23759.0,1.0,0.0,1.0,1.0,1.0
240223,600559,7.56,3.0,1.0,1.0,4.0,10.00,1.0,0.0,32.0,23593.0,0.0,0.0,0.0,0.0,0.0

In [61]:
test = pd.DataFrame(test_data)
test

,id,store_sales(in millions),unit_sales(in millions),total_children,num_children_at_home,avg_cars_at home(approx).1,gross_weight,recyclable_package,low_fat,units_per_case,store_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist
0,360336,7.24,4.0,1.0,0.0,2.0,10.80,0.0,1.0,7.0,20319.0,0.0,0.0,0.0,0.0,0.0
1,360337,6.90,2.0,2.0,2.0,3.0,8.51,1.0,0.0,4.0,33858.0,1.0,0.0,1.0,1.0,1.0
2,360338,8.34,3.0,0.0,0.0,3.0,8.77,0.0,1.0,14.0,39696.0,0.0,0.0,1.0,1.0,0.0
3,360339,5.48,2.0,3.0,3.0,2.0,21.90,1.0,0.0,9.0,23688.0,1.0,1.0,1.0,1.0,1.0
4,360340,4.80,3.0,2.0,0.0,2.0,10.90,1.0,0.0,11.0,27694.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240219,600555,8.60,4.0,0.0,0.0,1.0,8.39,0.0,0.0,16.0,38382.0,0.0,0.0,0.0,0.0,0.0
240220,600556,4.30,2.0,2.0,0.0,4.0,7.88,1.0,0.0,4.0,30268.0,0.0,0.0,0.0,0.0,0.0
240221,600557,6.30,3.0,0.0,0.0,3.0,11.50,0.0,0.0,13.0,39696.0,0.0,0.0,1.0,1.0,0.0
240222,600558,7.94,2.0,0.0,0.0,2.0,8.33,1.0,0.0,8.0,23759.0,1.0,0.0,1.0,1.0,1.0
240223,600559,7.56,3.0,1.0,1.0,4.0,10.00,1.0,0.0,32.0,23593.0,0.0,0.0,0.0,0.0,0.0

In [63]:
test_data.drop(columns = ['id'], inplace = True)

In [64]:
test_pred = clf.predict(test_data)

In [67]:
output = pd.DataFrame({'id':test.id, 'cost':test_pred})
output.to_csv('Playground Series.csv', index = False)