In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('train.csv')
df

,Date,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price
0,2006-07-31,Stock 1,625.898686,925.086518,1550.985204,675.789905,555.931329,548.488451,251.282553,68.184030,1040831,100.000000
1,2006-08-31,Stock 1,407.387467,903.249093,1310.636561,1023.110983,1295.186240,513.446432,207.576940,42.232672,1046649,101.924169
2,2006-09-29,Stock 1,464.069891,602.668832,1066.738722,709.711673,598.719338,503.519871,133.719700,28.835722,1094158,103.166191
3,2006-10-31,Stock 1,855.854937,391.375369,1247.230306,649.979564,733.594339,596.006397,-76.881818,0.000000,1018574,104.478956
4,2006-11-30,Stock 1,453.954969,956.490566,1410.445534,1115.594551,1152.274711,965.939247,-309.204301,0.000000,1036293,104.160907
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2018-08-31,Stock 100,810.402398,953.465125,1763.867523,1014.718528,957.998121,675.953821,102.346000,21.785595,1016713,101.747952
14996,2018-09-28,Stock 100,811.620957,443.679899,1255.300856,392.059390,365.958118,815.913721,-301.200669,0.000000,1042638,102.039499
14997,2018-10-31,Stock 100,739.371050,423.172140,1162.543189,478.844995,396.603049,550.561664,227.299298,56.788344,1077825,101.126752
14998,2018-11-30,Stock 100,741.898496,286.891422,1028.789919,347.793349,358.229637,176.189978,19.405005,5.183536,1003161,102.020776
14999,2018-12-31,Stock 100,772.426342,538.766121,1311.192462,440.572996,493.849915,586.705439,260.221041,65.005348,1021927,102.594684

In [4]:
import datetime as dt
df['Date'] = pd.to_datetime(df['Date'])
df['Date']=df['Date'].map(dt.datetime.toordinal)

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.drop(columns  = ['price']), df['price'], random_state = 0)

In [6]:
y_train.shape

(11250,)

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
from sklearn.compose import ColumnTransformer

tranformer = ColumnTransformer(transformers = [
    ('tnf1', OneHotEncoder(sparse = False, drop = 'first'), ['Stock'])
], remainder = 'passthrough')

In [9]:
x_train = tranformer.fit_transform(x_train)

C:\Users\Family PC\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [10]:
x_train

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         1.07051884e+02,  3.16728165e+01,  1.09318800e+06],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
        -2.84521636e+01,  0.00000000e+00,  1.01242100e+06],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         3.16095698e+00,  8.15867005e-01,  1.01639500e+06],
       ...,
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
        -4.95540995e+00,  0.00000000e+00,  1.09315400e+06],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         1.70633112e+01,  4.93999313e+00,  1.05408600e+06],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         9.67717501e+01,  2.02347334e+01,  1.02424900e+06]])

In [11]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor()

In [12]:
clf.fit(x_train, y_train)

RandomForestRegressor()

In [13]:
x_test = tranformer.transform(x_test)

In [14]:
pred = clf.predict(x_test)

In [15]:
pred

array([105.37789508, 108.08717253, 103.97675856, ..., 118.64542197,
       102.15601858, 100.35685723])

In [16]:
y_test = np.array(y_test)
y_test.shape

(3750,)

In [17]:
pred.shape

(3750,)

In [18]:
clf.score(x_test, y_test)

0.961425518525109

In [19]:
import math  
import sklearn.metrics

In [20]:
mse = sklearn.metrics.mean_squared_error(y_test, pred)

In [21]:
rmse = math.sqrt(mse)

In [22]:
print("Root Mean Squared Error: ", rmse)

Root Mean Squared Error:  2.0117320846527207

In [23]:
test_value = pd.read_csv('Test_x.csv')
test_value

,Date,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding
0,2019-01-31,Stock 1,777.137456,411.991482,1189.128938,735.376019,834.292436,101.282767,44.303576,12.430562,1038979
1,2019-02-28,Stock 1,277.194579,499.621626,776.816206,462.172266,447.906629,119.483578,19.410210,4.298036,1033350
2,2019-03-29,Stock 1,496.436651,372.604918,869.041569,529.266640,683.167288,482.381171,-47.940167,0.000000,1093455
3,2019-04-30,Stock 1,484.533101,809.661340,1294.194441,412.770236,350.779135,570.934617,121.963652,31.066241,1047609
4,2019-05-31,Stock 1,290.520190,715.758617,1006.278807,802.761555,892.693784,277.522337,-78.316857,0.000000,1042163
...,...,...,...,...,...,...,...,...,...,...,...
4995,2022-10-31,Stock 100,408.766312,440.569040,849.335352,348.102723,312.827547,150.677789,-3.197117,0.000000,1028799
4996,2022-11-30,Stock 100,492.923805,731.542040,1224.465846,915.110188,892.471680,529.905187,148.531273,30.964416,1004215
4997,2022-12-30,Stock 100,392.331633,705.422815,1097.754448,353.436744,420.021023,963.856236,-19.214152,0.000000,1005944
4998,2023-01-31,Stock 100,273.102651,817.198302,1090.300953,787.193836,962.158503,437.654297,13.658068,3.390605,1028097
4999,2023-02-28,Stock 100,730.523595,532.192933,1262.716528,704.073355,743.358247,370.216809,-100.709161,0.000000,1000408

In [24]:
import datetime as dt
test_value['Date'] = pd.to_datetime(test_value['Date'])
test_value['Date']=test_value['Date'].map(dt.datetime.toordinal)

In [25]:
new_test_value = tranformer.fit_transform(test_value)

C:\Users\Family PC\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [26]:
pred = clf.predict(new_test_value)
pred

array([106.39241094, 105.02951889, 104.98077224, ..., 104.27176181,
       104.65125133, 106.44609468])

In [27]:
output = pd.DataFrame({'Stock':test_value.Stock, 'cost':pred})
output.to_csv('Stocks_Price.csv', index = False)