In [1]:
import numpy as np
import pandas as pd

In [9]:
train_data = pd.read_csv('training_twitter_x_y_train.csv')
train_data.head()

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [10]:
train_data.describe(), train_data.shape

(           tweet_id  retweet_count
 count  1.098000e+04   10980.000000
 mean   5.692169e+17       0.080965
 std    7.795438e+14       0.740303
 min    5.675883e+17       0.000000
 25%    5.685584e+17       0.000000
 50%    5.694753e+17       0.000000
 75%    5.698902e+17       0.000000
 max    5.703106e+17      44.000000,
 (10980, 12))

In [11]:
train_data.isnull().sum()

tweet_id                      0
airline_sentiment             0
airline                       0
airline_sentiment_gold    10949
name                          0
negativereason_gold       10956
retweet_count                 0
text                          0
tweet_coord               10204
tweet_created                 0
tweet_location             3550
user_timezone              3577
dtype: int64

In [12]:
train_data.drop(columns = ['airline_sentiment_gold', 'name', 'negativereason_gold', 'tweet_coord', 'tweet_location', 'user_timezone'], inplace = True)

In [14]:
train_data.drop(columns = ['tweet_id', 'tweet_created'], inplace = True)

In [15]:
train_data

,airline_sentiment,airline,retweet_count,text
0,negative,Southwest,0,"@SouthwestAir I am scheduled for the morning, ..."
1,positive,Southwest,0,@SouthwestAir seeing your workers time in and ...
2,positive,United,0,@united Flew ORD to Miami and back and had gr...
3,negative,Southwest,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥
4,negative,United,0,@united so our flight into ORD was delayed bec...
...,...,...,...,...
10975,neutral,American,0,@AmericanAir followback
10976,positive,United,0,@united thanks for the help. Wish the phone re...
10977,negative,US Airways,0,@usairways the. Worst. Ever. #dca #customerser...
10978,negative,US Airways,0,@nrhodes85: look! Another apology. DO NOT FLY ...
10979,negative,United,1,@united you are by far the worst airline. 4 pl...

In [18]:
x = train_data.drop(columns = 'airline_sentiment')
y = train_data['airline_sentiment']

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y)

In [20]:
x_train

,airline,retweet_count,text
10058,US Airways,0,@USAirways How long does it take to receive ti...
9240,US Airways,0,@USAirways flight 813 DCA to CLT stuck waiting...
6798,Delta,0,@JetBlue being told JFK had a 5 hour delay thi...
7893,Southwest,0,@SouthwestAir Thanks!!! :) It is good to air ...
9976,Delta,0,"@JetBlue also. Emergency exit seats. 6'2"" and ..."
...,...,...,...
2524,Delta,0,@JetBlue try harder. Take a winners attitude t...
8598,American,0,"Thank you, @AmericanAir! Much appreciated."
6826,United,0,@united a big thanks to ^MN and ^KN or patient...
10024,Virgin America,0,@VirginAmerica @ladygaga @carrieunderwood all ...
2107,US Airways,0,@USAirways Thank you. But it is sad that she c...

In [21]:
# geting the text columns and count vectorize it

text_data = x_train['text']

In [59]:
text_data_test= x_test['text']

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

count_vec = CountVectorizer(max_features = 100)

In [65]:
vec_text_data = count_vec.fit_transform(text_data)

In [66]:
vec_text_data_test = count_vec.fit_transform(text_data_test)

In [67]:
count_vec.get_feature_names_out(), vec_text_data.todense()

(array(['about', 'after', 'airline', 'all', 'am', 'americanair', 'amp',
        'an', 'and', 'any', 'are', 'as', 'at', 'back', 'bag', 'be', 'been',
        'but', 'by', 'call', 'can', 'cancelled', 'co', 'customer',
        'delayed', 'do', 'don', 'flight', 'flightled', 'flights', 'for',
        'from', 'gate', 'get', 'got', 'great', 'had', 'has', 'have',
        'help', 'hold', 'hour', 'hours', 'how', 'http', 'if', 'in', 'is',
        'it', 'jetblue', 'just', 'late', 'like', 'me', 'more', 'my',
        'need', 'no', 'not', 'now', 'of', 'on', 'one', 'or', 'our', 'out',
        'over', 'plane', 'please', 'service', 'so', 'southwestair',
        'still', 'thank', 'thanks', 'that', 'the', 'there', 'they', 'this',
        'time', 'to', 'today', 'united', 'up', 'us', 'usairways', 've',
        'virginamerica', 'was', 'way', 'we', 'what', 'when', 'why', 'will',
        'with', 'would', 'you', 'your'], dtype=object),
 matrix([[0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 1, 0],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 0, 0],
         [0, 0, 0, ..., 0, 1, 0]], dtype=int64))

In [68]:
count_vec.get_feature_names_out(), vec_text_data_test.todense()

(array(['about', 'after', 'airline', 'all', 'am', 'americanair', 'amp',
        'an', 'and', 'any', 'are', 'as', 'at', 'back', 'bag', 'be', 'been',
        'but', 'by', 'call', 'can', 'cancelled', 'co', 'customer',
        'delayed', 'do', 'don', 'flight', 'flightled', 'flights', 'for',
        'from', 'gate', 'get', 'got', 'great', 'had', 'has', 'have',
        'help', 'hold', 'hour', 'hours', 'how', 'http', 'if', 'in', 'is',
        'it', 'jetblue', 'just', 'late', 'like', 'me', 'more', 'my',
        'need', 'no', 'not', 'now', 'of', 'on', 'one', 'or', 'our', 'out',
        'over', 'plane', 'please', 'service', 'so', 'southwestair',
        'still', 'thank', 'thanks', 'that', 'the', 'there', 'they', 'this',
        'time', 'to', 'today', 'united', 'up', 'us', 'usairways', 've',
        'virginamerica', 'was', 'way', 'we', 'what', 'when', 'why', 'will',
        'with', 'would', 'you', 'your'], dtype=object),
 matrix([[0, 0, 0, ..., 0, 1, 0],
         [0, 0, 0, ..., 0, 0, 1],
         [0, 0, 0, ..., 0, 0, 0],
         ...,
         [1, 0, 0, ..., 0, 1, 0],
         [0, 0, 0, ..., 0, 1, 0],
         [0, 0, 0, ..., 0, 0, 0]], dtype=int64))

In [41]:
type(vec_text_data)

scipy.sparse._csr.csr_matrix

In [37]:
count_vec.get_feature_names_out().shape

(100,)

In [39]:
x_train.shape

(8235, 3)

In [42]:
x_train.drop(columns = ['text'], inplace = True)

In [62]:
df_test = pd.DataFrame(vec_text_data_test.todense(), columns =count_vec.get_feature_names_out() )
df_test

,about,after,airline,all,am,americanair,amp,an,and,any,...,way,we,what,when,why,will,with,would,you,your
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2740,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2741,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2742,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2744,0,0,0,0,0,1,0,0,1,0,...,0,2,0,1,0,0,1,0,0,0

In [69]:
df_train = pd.DataFrame(vec_text_data.todense(), columns =count_vec.get_feature_names_out() )
df_train

,about,after,airline,all,am,americanair,amp,an,and,any,...,way,we,what,when,why,will,with,would,you,your
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8230,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8231,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8232,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8233,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8234,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0

In [70]:
x_train, df_test

(              airline  retweet_count
 10058      US Airways              0
 9240       US Airways              0
 6798            Delta              0
 7893        Southwest              0
 9976            Delta              0
 ...               ...            ...
 2524            Delta              0
 8598         American              0
 6826           United              0
 10024  Virgin America              0
 2107       US Airways              0

 [8235 rows x 2 columns],
       about  after  airline  all  am  americanair  amp  an  and  any  ...  \
 0         0      0        0    0   0            0    0   0    0    0  ...
 1         0      0        0    0   0            0    0   0    1    0  ...
 2         0      0        0    0   0            0    0   0    2    0  ...
 3         0      0        0    0   0            0    0   0    0    0  ...
 4         1      0        0    0   0            1    0   0    0    0  ...
 ...     ...    ...      ...  ...  ..          ...  ...  ..  ...  ...  ...
 2740      0      0        0    0   0            0    0   0    0    0  ...
 2741      0      0        0    0   0            0    0   0    0    0  ...
 2742      1      0        0    0   0            0    0   0    1    0  ...
 2743      0      0        0    0   0            0    0   0    0    0  ...
 2744      0      0        0    0   0            1    0   0    1    0  ...

       way  we  what  when  why  will  with  would  you  your
 0       0   0     1     0    0     0     0      0    1     0
 1       1   1     0     0    0     0     0      0    0     1
 2       0   0     0     0    0     0     0      0    0     0
 3       0   0     0     0    0     0     0      0    0     0
 4       0   0     0     1    0     0     0      0    0     0
 ...   ...  ..   ...   ...  ...   ...   ...    ...  ...   ...
 2740    0   0     0     0    0     0     0      0    1     0
 2741    0   0     0     0    0     1     0      0    0     0
 2742    0   0     0     0    0     0     0      0    1     0
 2743    0   0     0     0    0     0     1      0    1     0
 2744    0   2     0     1    0     0     1      0    0     0

 [2745 rows x 100 columns])

In [47]:
df['airline'] = x_train['airline']

In [49]:
df.drop(columns = ['retweet_count'], inplace = True)

In [57]:
df.drop(columns = ['airline'], inplace = True)

In [50]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

In [56]:
df['airline'].unique()

array(['Southwest', 'United', 'Delta', nan, 'US Airways', 'American',
       'Virgin America'], dtype=object)

In [58]:
rfc.fit(df, y_train)

RandomForestClassifier()

In [63]:
rfc.score(df_test, y_test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- airline
- by
- great
- way
Feature names seen at fit time, yet now missing:
- again
- phone
- waiting