In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline , make_pipeline
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('train.csv')
df

,Date,Stock,liabilities,equity,total_assets,current_assets,current_liabilities,total_revenue,net_income,dividend,shares_outstanding,price
0,2006-07-31,Stock 1,625.898686,925.086518,1550.985204,675.789905,555.931329,548.488451,251.282553,68.184030,1040831,100.000000
1,2006-08-31,Stock 1,407.387467,903.249093,1310.636561,1023.110983,1295.186240,513.446432,207.576940,42.232672,1046649,101.924169
2,2006-09-29,Stock 1,464.069891,602.668832,1066.738722,709.711673,598.719338,503.519871,133.719700,28.835722,1094158,103.166191
3,2006-10-31,Stock 1,855.854937,391.375369,1247.230306,649.979564,733.594339,596.006397,-76.881818,0.000000,1018574,104.478956
4,2006-11-30,Stock 1,453.954969,956.490566,1410.445534,1115.594551,1152.274711,965.939247,-309.204301,0.000000,1036293,104.160907
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2018-08-31,Stock 100,810.402398,953.465125,1763.867523,1014.718528,957.998121,675.953821,102.346000,21.785595,1016713,101.747952
14996,2018-09-28,Stock 100,811.620957,443.679899,1255.300856,392.059390,365.958118,815.913721,-301.200669,0.000000,1042638,102.039499
14997,2018-10-31,Stock 100,739.371050,423.172140,1162.543189,478.844995,396.603049,550.561664,227.299298,56.788344,1077825,101.126752
14998,2018-11-30,Stock 100,741.898496,286.891422,1028.789919,347.793349,358.229637,176.189978,19.405005,5.183536,1003161,102.020776
14999,2018-12-31,Stock 100,772.426342,538.766121,1311.192462,440.572996,493.849915,586.705439,260.221041,65.005348,1021927,102.594684

In [4]:
df['TotalExpense'] = df['RoomService'] + df['FoodCourt']+ df['ShoppingMall']+ df['Spa']+ df['VRDeck']

KeyError: 'RoomService'

In [ ]:
df

In [ ]:
df.drop(columns=['PassengerId','Cabin','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Name'], inplace = True)

In [ ]:
df

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(df.drop(columns = ['Transported']), df['Transported'], random_state = 1)

In [ ]:
X_train

In [ ]:
X_train.isnull().sum()

In [ ]:
X_train['HomePlanet'].count()

In [ ]:
trf1 = ColumnTransformer([
    ('age_inpute', SimpleImputer(), [3]),
    ('Total_expense', SimpleImputer(), [5]),
    ('Home_planet', SimpleImputer(strategy = 'most_frequent'), [0]),
    ('Cryo_Sleep', SimpleImputer(strategy = 'most_frequent'), [1]),
    ('Destination', SimpleImputer(strategy = 'most_frequent'), [2]),
    ('Vip_1', SimpleImputer(strategy = 'most_frequent'), [4])
])

In [ ]:
X_train

In [ ]:
Y_train

In [ ]:
trf2 = ColumnTransformer(
[
    ('HomePlanet_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [0]),
    ('CryoSleep_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [1]),
    ('Destination_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [2]),
    ('vip_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [4])
]
)

In [ ]:
from keras.models import Sequential

In [ ]:
model = Sequential()

In [ ]:
from keras.layers import Dense

In [ ]:
model.add(Dense(units = 15, activation = 'relu', input_dim = 6))
model.add(Dense(units = 10, activation = 'relu'))
model.add(Dense(units = 1, activation = 'sigmoid'))

In [ ]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
X_train

In [ ]:
import tensorflow as tf

In [ ]:
X_train['VIP'] = np.asarray(X_train['VIP']).astype(np.float32)
X_train['CryoSleep'] = np.asarray(X_train['CryoSleep']).astype(np.float32)

In [ ]:
Pipe = make_pipeline(trf1, trf2)

In [ ]:
Pipe.fit(X_train,Y_train)

In [ ]:
X_train.nunique(axis = 0)

In [ ]:
X_test.nunique(axis=0)

In [ ]:
import pickle 
pickle.dump(Pipe, open('pipe_spaceship.pkl', 'wb'))