In [2]:
import numpy as np
import pandas as pd

In [3]:
import pickle

Pipe = pickle.load(open('pipe_spaceship.pkl', 'rb'))

In [5]:
test_data = pd.read_csv('test.csv')
test = test_data
test = pd.DataFrame(test_data)

In [6]:
test_data['TotalExpense'] = test_data['RoomService'] + test_data['FoodCourt']+ test_data['ShoppingMall']+ test_data['Spa']+ test_data['VRDeck']

In [7]:
test_data.drop(columns=['PassengerId','Cabin','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Name'], inplace = True)

In [8]:
test_data

     HomePlanet CryoSleep    Destination   Age    VIP  TotalExpense
0         Earth      True    TRAPPIST-1e  27.0  False           0.0
1         Earth     False    TRAPPIST-1e  19.0  False        2832.0
2        Europa      True    55 Cancri e  31.0  False           0.0
3        Europa     False    TRAPPIST-1e  38.0  False        7418.0
4         Earth     False    TRAPPIST-1e  20.0  False         645.0
...         ...       ...            ...   ...    ...           ...
4272      Earth      True    TRAPPIST-1e  34.0  False           0.0
4273      Earth     False    TRAPPIST-1e  42.0  False        1018.0
4274       Mars      True    55 Cancri e   NaN  False           0.0
4275     Europa     False            NaN   NaN  False        3203.0
4276      Earth      True  PSO J318.5-22  43.0  False           0.0

[4277 rows x 6 columns]

In [9]:
X_train = Pipe.fit(test_data)

C:\Users\Family PC\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Family PC\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Family PC\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Family PC\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [11]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTree()

ImportError: cannot import name 'DecisionTree' from 'sklearn.tree' (C:\Users\Family PC\anaconda3\lib\site-packages\sklearn\tree\__init__.py)

In [ ]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Transported': test_predicted})

In [ ]:
output.to_csv('submission-spaceship.csv', index=False)